/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: orange;
    height: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 135px;
}
nav{
    display:flex;
    flex-direction: row;
    text-align: left;
    justify-content:center;
    font-family: "Roboto";
    align-items:center;
    font-size: 13px;
}
ul{
    list-style:none;
    display:flex;
    flex-direction: row;
    gap:60px;
    font-family: "Roboto";
    font-size: 17px;
    color: #000;
    color: white;
}
.navbar{

    display:flex;
    flex-direction: row;
    text-align: left;
    justify-content:center;
    font-family: "Roboto";
    font-size: 16px;
    align-items:center;
    font-size: medium;
    color: white;
    overflow: hidden;
    gap: 20px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.dropdown{
float: left;
overflow: hidden;
}
button{
    background-color: orange;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
    border: none;
}
.dropdown .dropdownbutton{
    font-size: medium;
    border: none;
    outline: none;
    color: white;

    background-color: transparent;
    font-family: inherit;
    margin: 0;

}
.navbar a:hover, .dropdown:hover .dropdownbutton:hover{
    background-color: rgb(250, 201, 109)
  }
  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdowncontent a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdowncontent a:hover {
    background-color: rgb(250, 201, 109)
  }

  .dropdown:hover .dropdowncontent {
    display: block;
  }
    .aboutus{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
        padding-left: 10%;
        padding-right: 10%;
        font-family: 'roboto';
     }
     .about-us-text{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .about-us-img{
        width: 500px;
        height: 500px;
        object-fit:cover;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     img{
        max-width: 100%;
        max-height: 100%;
     }
     .about-us-text h1{
        padding-bottom: 30px;
     }
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 150px;
    background-color: orange;
}
.contact-us{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Roboto";   
    color: white;
    justify-content: flex-end;
    padding-bottom: 35px;
}
.contact-us h3{
    text-align: center;
    font-family: "Roboto";   
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.contact--us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    padding-top: 11px;
}
.contact--icons{
    display: flex;
    flex-direction: row;
    gap: 5px
}
.social-media{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.social-media h3{
    text-align: center;
    font-family: "Roboto";   
    color: white;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding-top: 20px;
}
.copyright{
    color: white;
    font-family: 'roboto';
    font-size: small;
    padding-top: 20px;
}

/* menu  */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
}
main h1{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
main h2{
    padding-bottom: 5vh;
    padding-top: 5vh;
}
.food{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    padding-bottom: 10vh;
}
.food img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.img-container{
 width: 500px;
}

.food-info{
    width: 40vw;
}
.ingredients{
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: flex-start;
}
.ingredients h3{
    display: flex;
    align-items: flex-start;
    padding-bottom: 2vh;
}
.ingredients ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.ingredients li{
    display: flex;
    color: black;
    align-items: flex-start;
    gap: 5px;
}
.recipe{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.recipe h3{
    display: flex;
    align-items: flex-start;
    padding-bottom: 1vw;
    padding-top: 1vw;
}
.recipe ol{
    display: flex;
    color: black;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 5px;
    padding-left: 15px;

}
.rounded {
    border-top: 5px solid orange;
    border-radius: 5px;
    width: 50%;
    position: relative;
    left: 25%;
    padding-bottom: 5vh;
}
/* Food menu*/
/* STARTER   */
/* Lentil 
.Lentil-part{
   
    display: grid;
    grid-template-columns:repeat (1fr 1fr);
    grid-template-columns: repeat (1fr 1fr);
    gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'roboto'; 
}
.STARTER{
    display: grid;
    padding-top: 60px;
    grid-column-start: 2;
    grid-column-end:5;
    grid-gap: 20px;
    width: 650px;
}
.Recepie h3 {
    text-align: center;
}

.STARTER h2{ 
position: relative;
bottom:50px;
}
.Ingredients h1 {
    position: relative;
    display: inline-block;
    bottom: 50px;
    font-family: 'roboto';
    font-size: 20px;
    border-bottom: 2px solid #000;
    border-radius: 5px;
}
.Ingredients{
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.Recepie{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 30px;
}
.About-Dish{
    position: relative;
    top: 20px;
}
.Lentil-img{
    padding-top:130px;
    width: 500px;
    height: 500px;
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Prawns*
.div{
    display: grid;
    padding-top: 40px;
    grid-column-start: 2;
    grid-column-end:5;
    grid-gap: 20px;
    width: 650px;
}
.Prawns-Part{
    display: grid;
    grid-template-columns:repeat (1fr 1fr);
    grid-template-columns: repeat (1fr 1fr);
    gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'roboto';
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: left;
}
.Prawns-img{
    padding-top: 70px;
    width: 500px;
    height: 500px;
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.About-Dish h3{
    text-align: center;
}
.Ingredients-prawns h1{
    position: relative;
    display: inline-block;
    bottom: 50px;
    font-family: 'roboto';
    font-size: 20px;
    border-bottom: 2px solid #000;
    border-radius: 5px;
}
.Recepie-prawns h3 {
    text-align: center;
}
.Ingredients-prawns{
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.About-Dish-Prawns{
    position: relative;
    top: 20px;
    padding-left: 20px;
}
.Recepie-prawns{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 20px;
}
.Line{
    position: relative;
    top: 50px;
    width: 675px;
    right: 300px;
    height: 2px;
    background-color: #030a0a;
}
                  /*MAİN*/
/*Döner and İskender*
.STARTER-Döner{
    display: grid;
    padding-top: 25px;
    grid-column-start: 2;
    grid-column-end:5;
    gap: 30px;
    width: 650px;
}
.STARTER-Döner h2 {
   position: relative;
   right: 55px;
   bottom: 50px;
}
.Döner-Part{
    display: grid;
    grid-template-columns:repeat (1fr 1fr 1fr);
    gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'roboto';
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: left;
}
.Ingredients-Döner h1{
    position: relative;
    display: inline-block;
    bottom: 50px;
    right: 50px;
    font-family: 'roboto';
    font-size: 20px;
    
    border-bottom: 2px solid #000;
    border-radius: 5px;
    
}
.Döner-img{
    padding-top: 45px;
   
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.STARTER-Döner h2{
    font-size: 30px;
    font-family: "roboto";
}
.About-Döner h3{
    text-align: center; 
}
.About-Döner{
    position: relative;
    top: 20px;
}
.Recepie-Döner h3 {
    text-align: center;
}
.Ingredients-Döner{
    display: grid;
    grid-template-columns: 2fr 4fr; 
}
.Recepie-Döner{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
    top:10px;
}
.Line{
    position: relative;
    top: 50px;
    width: 675px;
    right: 300px;
    height: 2px;
    background-color: #030a0a;
}
/*Köfte-part*
.Köfte-Part{
    display: grid;
    grid-template-columns:repeat (1fr 1fr);
    grid-template-columns: repeat (1fr 1fr);
    gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'roboto';
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}
.Köfte-img{
    padding-top:75px;
    
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Ingredients-Köfte h1 {
    position: relative;
    display: inline-block;
    bottom: 50px;
    right: 20px;
    font-family: 'roboto';
    font-size: 20px;
    
    border-bottom: 2px solid #000;
    border-radius: 5px;
}
.About-Köfte{
    position: relative;
    top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.About-Köfte h3{
    text-align: center; 
}
.Recepie-Köfte h3 {
    text-align: center;
}
.Ingredients-Köfte{
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.Recepie-Köfte{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 10px;
}

/* antı-part* *

.Manti-Part{
    display: grid;
    grid-template-columns:repeat (1fr 1fr);
    grid-template-columns: repeat (1fr 1fr);
    gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'roboto';
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}
.Manti-img{
    padding-top:65px;
    width: 500px;
    height: 500px;
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Ingredients-Manti h1 {
    position: relative;
    display: inline-block;
    bottom: 50px;
    right: 20px;
    font-family: 'roboto';
    font-size: 20px;
    
    border-bottom: 2px solid #000;
    border-radius: 5px;
}
.About-Manti h3{
    text-align: center;
}
.About-Manti{
    position: relative;
    top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.Recepie-Manti h3 {
    text-align: center;
}
.Ingredients-Manti{
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.Recepie-Manti{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 20px;
}
/*Grilled sea bass - part *
.Grilled-sea-Part{
    display: grid;
    grid-template-columns:repeat (1fr 1fr);
    grid-template-columns: repeat (1fr 1fr);
    gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'roboto';
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}
.Grilled-sea-img{
    padding-top: 50px;
    
    
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.About-Grilled-sea h3{
    text-align: center;
}
.Ingredients-Grilled-sea h1 {
    position: relative;
    display: inline-block;
    bottom: 50px;
    right: 20px;
    font-family: 'roboto';
    font-size: 20px;
    
    border-bottom: 2px solid #000;
    border-radius: 5px;
}
.About-Grilled-sea{
    position: relative;
    top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.Recepie-Grilled-sea h3 {
    text-align: center;
}
.Ingredients-Grilled-sea{
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.Recepie-Grilled-sea{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 10px;
}

/*Rosted chicken-part *

.Rosted-chicken-Part{
    display: grid;
    grid-template-columns:repeat (1fr 1fr);
    grid-template-columns: repeat (1fr 1fr);
    gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'roboto';
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}
.Rosted-chicken-img{
    padding-top: 70px;
    width: 500px;
    height: 500px;
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Ingredients-Rosted-chicken h1 {
    position: relative;
    display: inline-block;
    bottom: 50px;
    right: 20px;
    font-family: 'roboto';
    font-size: 20px;
    
    border-bottom: 2px solid #000;
    border-radius: 5px;
}
.About-Rosted-chicken h3{
    text-align: center;
}
.Recepie-Rosted-chicken h3 {
    text-align: center;
}
.About-Rosted-chicken{
    position: relative;
    top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.Ingredients-Rosted-chicken{
    display: grid;
    grid-template-columns: 2fr 4fr;  
}
.Recepie-Rosted-chicken{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 10px;
}

/* Duck rice-part

.Duck-rice-Part{
    display: grid;
    grid-template-columns:repeat (3fr 1fr);
    gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'roboto';
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}

.Duck-rice-img{
    padding-top: 70px;
    width: 500px;
    height: 500px;
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.About-Duck-rice h3{
    text-align: center;
    
}
.Ingredients-Duck-rice h1{
    position: relative;
    display: inline-block;
    bottom: 50px;
    right: 20px;
    font-family: 'roboto';
    font-size: 20px;
    
    border-bottom: 2px solid #000;
    border-radius: 5px;
}
.About-Duck-rice{
    position: relative;
    top: 25px;
    padding-left: 30px;
    padding-right: 20px;
}
.Recepie-Duck-rice h3 {
    text-align: center;
}
.Ingredients-Duck-rice{
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.Recepie-Duck-rice{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 10px;
}
   
         /* DESERTS */

/*Baklava

.Baklava-part{
    display: grid;
    grid-template-columns:repeat (1fr 1fr);
    grid-template-columns: repeat (1fr 1fr);
    gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'roboto';
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}
.STARTER-baklava{
    display: grid;
    padding-top: 60px;
    grid-column-start: 2;
    grid-column-end:5;
    grid-gap: 20px;
    width: 650px;
}
.STARTER-baklava h2{
    position:relative;
    bottom:50px;
    right: 45px;
    font-size: 40px;

}
.Ingredients-Baklava h1{
    position: relative;
    display: inline-block;
    bottom: 50px;
    right: 20px;
    font-family: 'roboto';
    font-size: 20px;
    
    border-bottom: 2px solid #000;
    border-radius: 5px;
}
.Baklava-img{
    padding-top: 120px;
    
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.About-Dish-Baklava{
    position: relative;
    top: 25px;
    padding-left: 30px;
    padding-right: 20px;
}


.About-Dish-Baklava h3{
    text-align: center;
    
}
.Recepie-Baklava h3 {
    text-align: center;
}
.Ingredients-Baklava{
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.Recepie-Baklava{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 20px;
}
/*Sericaia*

.Sericaia-Part{
    display: grid;
    grid-template-columns:repeat (1fr 1fr);
    grid-template-columns: repeat (1fr 1fr);
    gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'roboto';
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}
.Ingredients-Sericaia h1{
    position: relative;
    display: inline-block;
    bottom: 50px;
    right: 20px;
    font-family: 'roboto';
    font-size: 20px;
    border-bottom: 2px solid #000;
    border-radius: 5px;
}
.Sericaia-img{
    padding-top: 50px;
    width: 500px;
    height: 500px;
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.About-Dish-Sericaia{
    position: relative;
    top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.About-Dish-Sericaia h3{
    text-align: center;
    
}
.Recepie-Sericaia h3 {
    text-align: center;
}
.Ingredients-Sericaia{
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.Recepie-Sericaia{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 10px;}    