/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: orange;
    height: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 135px;
}
nav{
    display:flex;
    flex-direction: row;
    text-align: left;
    justify-content:center;
    font-family: "Roboto";
    align-items:center;
    font-size: 13px;

}
.navbar-smallscreen{
    display: none;
}
.navbar{

    display:flex;
    flex-direction: row;
    text-align: left;
    justify-content:center;
    font-family: "Roboto";
    font-size: 16px;
    align-items:center;
    font-size: medium;
    color: white;
    overflow: hidden;
    gap: 20px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.dropdown{
float: left;
overflow: hidden;
}
button{
    background-color: orange;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
    border: none;
}
.dropdown .dropdownbutton{
    font-size: medium;
    border: none;
    outline: none;
    color: white;

    background-color: transparent;
    font-family: inherit;
    margin: 0;

}
.navbar a:hover, .dropdown:hover .dropdownbutton:hover{
    background-color: rgb(250, 201, 109)
  }
  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdowncontent a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdowncontent a:hover {
    background-color: rgb(250, 201, 109)
  }

  .dropdown:hover .dropdowncontent {
    display: block;
  }
    .aboutus{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;
        gap: 20px;
        padding-left: 10%;
        padding-right: 10%;
        font-family: 'roboto';
     }
     .about-us-text{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .about-us-img{
        width: 500px;
        height: 500px;
        object-fit:cover;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     img{
        max-width: 100%;
        max-height: 100%;
     }
     .about-us-text h1{
        padding-bottom: 30px;
     }
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 150px;
    background-color: orange;
}
.contact-us{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Roboto";   
    color: white;
    justify-content: flex-end;
    padding-bottom: 35px;
}
.contact-us h3{
    text-align: center;
    font-family: "Roboto";   
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.contact--us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    padding-top: 11px;
}
.contact--icons{
    display: flex;
    flex-direction: row;
    gap: 5px
}
.social-media{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.social-media h3{
    text-align: center;
    font-family: "Roboto";   
    color: white;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding-top: 20px;
}
.copyright{
    color: white;
    font-family: 'roboto';
    font-size: small;
    padding-top: 20px;
}
/* menu  */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: "Roboto";  
}
main h1{
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: "Roboto";  
}
main h2{
    padding-bottom: 5vh;
    padding-top: 5vh;
    font-family: "Roboto";  
}
.food{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    padding-bottom: 10vh;
    transition: 300ms all;
    font-family: "Roboto";      
    position: relative;
}
.food img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 300ms all;
}
.img-container{
 width: 500px;
 height: 500px;
 object-fit: cover;
 position: relative;
 overflow: hidden;
}
.img-container .History{
    width: 500px;
    height: 500px;
    background-color: black;
    font-family: "Roboto";  
    position: absolute;
    right: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    text-align: center;
    color: bisque;
    transition: 300ms all;
    
    
}
.img-container:hover .History{
    right: 0;
    opacity: 0.9;
}
.img-container .History p{
    padding: 40px;
    text-align: justify;
}
.food-info{
    height: 65vh;
    width: 40vw;
    overflow: hidden;
    transition: 300ms all;
}
.ingredients{
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: flex-start;
    font-family: "Roboto";  
}
.ingredients h3{
    display: flex;
    align-items: flex-start;
    padding-bottom: 2vh;
    font-family: "Roboto";  
}
.ingredients ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Roboto";  
}
.ingredients li{
    display: flex;
    color: black;
    align-items: flex-start;
    gap: 5px;
    font-family: "Roboto";  
}
.recipe{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Roboto";  
}
.recipe h3{
    display: flex;
    align-items: flex-start;
    padding-bottom: 1vw;
    padding-top: 1vw;
    font-family: "Roboto";  
}
.recipe ol{
    display: flex;
    color: black;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 5px;
    padding-left: 15px;
    font-family: "Roboto";  
}
.rounded {
    border-top: 5px solid orange;
    border-radius: 5px;
    width: 50%;
    position: relative;
    left: 25%;
    padding-bottom: 5vh;
}

/* media queris */

@media (max-width:1200px){
    .aboutus{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        justify-items: center;
        gap: 20px;
        padding-left: 10%;
        padding-right: 10%;
        font-family: 'roboto';
    }
    .food{
        display: flex;
        flex-direction: column;
    }
    .food-info{
        width: 90vw;
        overflow: hidden;
        transition: 300ms all;
    }
    .ingredients{
        display: flex;
        flex-direction: column;
        color: black;
        justify-content: flex-start;
        font-family: "Roboto";  
    }
    .ingredients h3{
        display: flex;
        align-items: flex-start;
        padding-bottom: 2vh;
        font-family: "Roboto";  
    }
    .ingredients ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: "Roboto";  
    }
    .ingredients li{
        display: flex;
        color: black;
        align-items: flex-start;
        gap: 5px;
        font-family: "Roboto";  
    }
    .recipe{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: "Roboto";
        padding-left: 1vw;

    }
    .recipe h3{
        display: flex;
        align-items: flex-start;
        padding-bottom: 1vw;
        padding-top: 1vw;
        font-family: "Roboto";  
    }
    .recipe ol{
        display: flex;
        color: black;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        gap: 5px;
        padding-left: 15px;
        font-family: "Roboto";
    }
    .recipe ol li{
        width:80vw;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 200px;
        background-color: orange;
    }
    .contact-us{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "Roboto";   
        color: white;
        justify-content: flex-start;
        font-size: 90%;
        padding-bottom: 0;
        padding-top: 15px;
    }
    .contact-us h3{
        text-align: center;
        font-family: "Roboto";   
        color: white;
        text-align: center;
        font-size: 90%;
    }
    .contact--us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 90%
    }
    .contact-icons{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 10px;
        padding-top: 0;
        font-size: 90%;
    }
    .contact--icons{
        display: flex;
        flex-direction: row;
        gap: 5px
    }
    .social-media{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 90%;
        padding-top: 15px;
    }
    .social-media h3{
        text-align: center;
        font-family: "Roboto";   
        color: white;
        font-size: 90%;
    }
    .icons{
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
    }
    .copyright{
        color: white;
        font-family: 'roboto';
        font-size: 90%;
        padding-top: 30px;
    }

    .img-container{
        width: 400px;
        height: 400px;
        object-fit: cover;
        position: relative;
        overflow: hidden;
       }
    .img-container .History{
           width: 400px;
           height: 400px;
           background-color: black;
           font-family: "Roboto";  
           position: absolute;
           right: 100%;
           top: 0;
           display: flex;
           align-items: center;
           justify-content:space-evenly;
           flex-direction: column;
           text-align: center;
           color: bisque;
           transition: 300ms all; 
       }
    .img-container .History p{
        font-size: 90%;
        padding: 15px;
        text-align: justify;
    }
}
@media (max-width:500px){

    .navbar{
        display: none;
    }
    .Logo{
        width: 100px;
        height: 100px;
    }
    .navbar-smallscreen{
        display: block;
    }
    /* hamburger menu */
    *,
    *::after,
    *::before {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
    }
    header{
      background-color: orange;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      min-width: 100%;
      height: 100px;
    
    }
    :root {
      --bar-width: 50px;
      --bar-height: 5px;
      --hamburger-gap: 6px;
      --foreground: white;
      --background: orange;
      --hamburger-margin: 8px;
      --animation-timing: 200ms ease-in-out;
      --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }
    
    .hamburger-menu {
      --x-width: calc(var(--hamburger-height) * 1.41421356237);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: var(--hamburger-gap);
      width: max-content;
      position: absolute;
      top: var(--hamburger-margin);
      left: var(--hamburger-margin);
      z-index: 2;
      cursor: pointer;
      position: absolute;
      left: 82vw;
      top: 30px;
    }
    
    .hamburger-menu:has(input:checked) {
      --foreground: white;
      --background: white;
    }
    
    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
      border: 1px solid var(--background);
      box-shadow: 0 0 0 1px var(--foreground);
    }
    
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
      content: "";
      width: var(--bar-width);
      height: var(--bar-height);
      background-color: var(--foreground);
      border-radius: 9999px;
      transform-origin: right center;
      transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
    }
    
    .hamburger-menu input {
      appearance: none;
      padding: 0;
      margin: 0;
      outline: none;
      pointer-events: none;
    }
    
    .hamburger-menu:has(input:checked)::before {
      rotate: -45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / -2);
    }
    
    .hamburger-menu:has(input:checked)::after {
      rotate: 45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / 2);
    }
    
    .hamburger-menu input:checked {
      opacity: 0;
      width: 0;
    }
     .sidebar {
    position: absolute;
    transition: transform var(--animation-timing);
    transform: translateX(110vw);
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: orange;
    color: var(--background);
    max-width: 30vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: orange;
    min-width: 30vw;
    justify-content: flex-start;
    z-index: 1;
    }
    .sidebar .navbar-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 40px;
        padding-right: 5px;
    }
    .sidebar .navbar-hamburger a{
        color: white;
        font-size: 16px;
        margin-bottom: 10px;
    }     
    
    .hamburger-menu:has(input:checked) + .sidebar {
        transform: translateX(0);
    }

  
    /* hamburger menu finished */
    /* making side bar more user friendly */
    .sidebar .dropdowncontent {
        display: none;
        position: absolute;
        background-color: orange;
        min-width: 160px;
        box-shadow: -8px 8px 16px 0px rgba(0, 0, 0, 0.2); 
        z-index: 1;
        right: 100%; 
        top: 145px;
        left: auto; 
        cursor: pointer;
    }
    .sidebar /.dropdown:hover + .dropdowncontent{
        transform: translateX(0);
    }
    .sidebar .dropdownbutton {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        background-color: transparent;
        font-family: inherit;
        margin: 0;
        padding-bottom: 10px;
        cursor: pointer;
    }
    */
    .navbar-hamburger{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        padding-right: 5px;
    }
    }
    .navbar-smallscreen a{
        text-decoration: none;
        color: white;
    }
    .dropdown{
    float: right;
    overflow: hidden;
    }
    button{
        background-color: orange;
        color: white;
        font-family: 'roboto';
        font-size: 16px;
        border: none;
    }
    .dropdown .dropdownbutton{
        font-size: medium;
        border: none;
        outline: none;
        color: white;
        background-color: transparent;
        font-family: inherit;
        margin: 0;
    }
    .navbar-smallscreen a:hover, .dropdown:hover .dropdownbutton:hover{
        background-color: rgb(250, 201, 109)
      }
      .dropdowncontent {
        display: none;
        position: absolute;
        background-color: orange;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdowncontent a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
}